<h2>about</h2>
<p>This project attempts to study land ownership patterns on Chicago's South Side by examining publicly available property tax data. This pilot is limited to a study of Chicago's Hyde Park Township and was undertaken by Alexander Polzin in partial fulfillment for Segal Design Institute Spring 2016 course DSGN-425 taught by Raghu Betina and Arjun Venkataswamy and an independent study with the <a href="https://rebuild-foundation.org/">Rebuild Foundation</a>, under the guidance of Donald Haider.</p>

<h3>precedent</h3>
<p>This project came about through conversation with Amy Schachman at the Rebuild Foundation and is inspired by the work of Hans Haacke, specifically his <a href="http://collection.whitney.org/object/29487">Shapolsky et al. Manhattan Real Estate Holdings, A Real-time Social System, as of May 1, 1971</a>, as well as William Bunge and the work of the Detroit Geographical Expedition Institute, particularly <i>Fitzgerald: Geography of a Revolution</i>. It still has a long way to go!


<h3>definitions</h3>
<div>
<ul>Owner-occupied: Registered Tax Address = Property Address</ul>
<ul>Speculation: Count of numbers associated with each tax address</ul>
<ul>Local Ownership: Tax address within zip code</ul>
<ul>Taxpayer:	Could refer to individual or corporate entity. Based off tax address because name values are unreliable.</ul>


<h3>methodology</h3>
<ul>1 Scraped Property Data from http://www.cookcountypropertyinfo.com/Pages/PIN-Results.aspx
Using reference list Cook County GIS parcel data pins 2014.</ul>

<ul>2 Standardized data using Google Maps API</ul>

<ul>3 Mapped:	Occupancy and	Ownership Trends (Locality, Concentration)</ul>


<h3>notes on the data</h3>
<ul>1 2014 property pins available from https://datacatalog.cookcountyil.gov/GIS-Maps/ccgisdata-Lot-2014/2vjk-wpfr</ul>
<ul>2 More up-to-date property info available from http://162.217.184.82/i2/default.aspx</ul>
<br/>


<p>
Data set: 2292 pins
</p>
<p>Pins without property info: 150</p>
<p>Remaining active properties: 2142
</p>

<h3>next steps</h3>
<h4>analysis</h4>
	<ul>Add dimensions for custom geographic area</ul>
<ul>Look at all of Chicago. Current limitations due to query limitations of the free version of Google Maps API, used here to standardize addresses.</ul>

<h4>visualization</h4>
	<ul>Use shapefile data to map lots</ul>
  <ul>Group properties associated with same owner_id</ul>


<h5>data</h5>
	<ul>Update with more recent data.</ul>
	<ul>Need more nuanced definitions. For example, ownership currently includes all rental units in building.</ul>
	<ul>Create boolean filter based on similar names.</ul>

</p>
